---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/stocks/search.json?q=Ameriprise%20Financial,%20Inc.&sort=new&t=day
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=Z4nHy9d7ycv2smuSQoaPWYsssXmsT0h9zoyU%2Bv27LW1PegwU2m5fWKFyM2Fzc6S9UdOR2jPMXBM%3D
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"facets": {}, "modhash": "", "children":
        [], "after": null, "before": null}}'
  recorded_at: Mon, 27 Apr 2015 01:09:52 GMT
recorded_with: VCR 2.9.3
