---
http_interactions:
- request:
    method: get
    uri: http://api.usatoday.com/open/articles?api_key=fcjg58bdqda3w8fyazna8e8s&days=1&encoding=json&keyword=IBM&tickers_only=Y
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-52.mashery.com
    body:
      encoding: UTF-8
      string: '{"stories":[{"description":"John Campbell as the Hubble program''s
        manager from 1994-2000.","guid":[{"isPermalink":"true","value":"http:\/\/www.usatoday.com\/story\/news\/nation\/2015\/04\/24\/key-engineer-looks-back-hubbles-history\/26337057\/"}],"link":"http:\/\/www.usatoday.com\/story\/news\/nation\/2015\/04\/24\/key-engineer-looks-back-hubbles-history\/26337057\/","pubDate":"Fri,
        24 Apr 2015 08:44:57 GMT","title":"Key NASA official looks back on Hubble''s
        history"}]}'
  recorded_at: Thu, 23 Apr 2015 19:57:00 GMT
recorded_with: VCR 2.9.3
