---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=$IBM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ixX5GiXw3iydCiDDfgyUU4Gnm", oauth_nonce="aad7c6f5f2edc97c87a35c62896e24ff",
        oauth_signature="IqIUgEWpxJEGIGnV%2BKHBjtt9v2w%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1427849402", oauth_token="2353394900-hKlJlllezDPI2pbI0QtOnophEFcOHFlX53xhuH3",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 01 Apr 2015 00:50:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 0ea977256cc4cbcd7212835459493183
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1427850301'
      X-Response-Time:
      - '177'
      X-Transaction:
      - 411397a389b71e34
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"und","result_type":"recent"},"created_at":"Wed
        Apr 01 00:43:38 +0000 2015","id":583067159330439168,"id_str":"583067159330439168","text":"Dow
        #Stocks Trend $PFE $NKE $MMM $UNH $MCD $IBM $TRV $MRK $XOM $HD $UTX $BA $AAPL
        $INTC $VZ $KO $CVX $CSCO $DIS  @\u2026 http:\/\/t.co\/DDu364Hu4w","source":"\u003ca
        href=\"http:\/\/ifttt.com\" rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3125118298,"id_str":"3125118298","name":"$XOM","screen_name":"NewsXOM","location":"","profile_location":null,"description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":23,"friends_count":63,"listed_count":3,"created_at":"Sat
        Mar 28 22:42:32 +0000 2015","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1551,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/581949662736740352\/FfAdC31A_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/581949662736740352\/FfAdC31A_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"Stocks","indices":[4,11]}],"symbols":[{"text":"PFE","indices":[18,22]},{"text":"NKE","indices":[23,27]},{"text":"MMM","indices":[28,32]},{"text":"UNH","indices":[33,37]},{"text":"MCD","indices":[38,42]},{"text":"IBM","indices":[43,47]},{"text":"TRV","indices":[48,52]},{"text":"MRK","indices":[53,57]},{"text":"XOM","indices":[58,62]},{"text":"HD","indices":[63,66]},{"text":"UTX","indices":[67,71]},{"text":"BA","indices":[72,75]},{"text":"AAPL","indices":[76,81]},{"text":"INTC","indices":[82,87]},{"text":"VZ","indices":[88,91]},{"text":"KO","indices":[92,95]},{"text":"CVX","indices":[96,100]},{"text":"CSCO","indices":[101,106]},{"text":"DIS","indices":[107,111]}],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/DDu364Hu4w","expanded_url":"http:\/\/ift.tt\/1OKpcUx","display_url":"ift.tt\/1OKpcUx","indices":[116,138]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"und"},{"metadata":{"iso_language_code":"und","result_type":"recent"},"created_at":"Wed
        Apr 01 00:25:24 +0000 2015","id":583062571000991745,"id_str":"583062571000991745","text":"Dow
        #Stocks Trend $PFE $NKE $MMM $UNH $MCD $IBM $TRV $MRK $XOM $HD $UTX $BA $AAPL
        $INTC $VZ $KO $CVX $CSCO $DIS  @\u2026 http:\/\/t.co\/DDu364Hu4w","source":"\u003ca
        href=\"http:\/\/ifttt.com\" rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","truncated":false,"in_reply_to_status_i[...]
