---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/stocks/search.json?q=IBM&sort=new&t=day
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=73XmZnDDzdCEQofMlsToCqqDnrXsn4FpHMOVgztqpHQILjQ9jTJk03sr9nQ07PPTrPy95sWN%2FNc%3D
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"facets": {}, "modhash": "", "children":
        [{"kind": "t3", "data": {"domain": "self.MechanicalKeyboards", "banned_by":
        null, "media_embed": {}, "subreddit": "MechanicalKeyboards", "selftext_html":
        "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;I&amp;#39;m interested
        in buying an IBM Model M, not too sure just yet on which one, but I was wondering
        if any of you could point me in the right direction - so far it seems clickykeyboards
        is the go to place, however their shipping does seem a little expensive&lt;/p&gt;\n\n&lt;p&gt;Model
        recommendations would be appreciated as well!&lt;/p&gt;\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;", "selftext": "I''m interested in buying an IBM Model M, not
        too sure just yet on which one, but I was wondering if any of you could point
        me in the right direction - so far it seems clickykeyboards is the go to place,
        however their shipping does seem a little expensive\n\n\nModel recommendations
        would be appreciated as well!", "likes": null, "user_reports": [], "secure_media":
        null, "link_flair_text": null, "id": "33z6tn", "gilded": 0, "archived": false,
        "clicked": false, "report_reasons": null, "author": "swimming-bird", "num_comments":
        0, "score": 1, "approved_by": null, "over_18": false, "hidden": false, "thumbnail":
        "self", "subreddit_id": "t5_2ugo7", "edited": false, "link_flair_css_class":
        null, "author_flair_css_class": "mxbrown2", "downs": 0, "secure_media_embed":
        {}, "saved": false, "stickied": false, "is_self": true, "permalink": "/r/MechanicalKeyboards/comments/33z6tn/help_best_place_to_buy_an_ibm_model_m_australia/",
        "name": "t3_33z6tn", "created": 1430124037.0, "url": "http://www.reddit.com/r/MechanicalKeyboards/comments/33z6tn/help_best_place_to_buy_an_ibm_model_m_australia/",
        "author_flair_text": "Ducky S4 (Browns), Ducky S3 White (Browns)", "title":
        "[help] Best place to buy an IBM Model M (Australia)?", "created_utc": 1430095237.0,
        "distinguished": null, "media": null, "mod_reports": [], "visited": false,
        "num_reports": null, "ups": 1}}, {"kind": "t3", "data": {"domain": "self.forhire",
        "banned_by": null, "media_embed": {}, "subreddit": "forhire", "selftext_html":
        "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Hey Reddit,&lt;/p&gt;\n\n&lt;p&gt;To
        give you a few details about myself, my name is Wil Parker, I&amp;#39;m 32
        and live in Southern California. I&amp;#39;m an Internet Marketing Professional
        and am experienced with all the most current marketing techniques including:
 [...]
