---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=@IBM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ixX5GiXw3iydCiDDfgyUU4Gnm", oauth_nonce="a7258449c41e4cd8b6b0ceea4b262b47",
        oauth_signature="HohxHc9xpWGp019CdA4JvkJn8ek%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1429021446", oauth_token="2353394900-hKlJlllezDPI2pbI0QtOnophEFcOHFlX53xhuH3",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 14 Apr 2015 14:24:06 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 94be26a1d2ff3564432d90d13f31dc18
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1429022346'
      X-Response-Time:
      - '291'
      X-Transaction:
      - 00e21009faf479c8
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"da","result_type":"recent"},"created_at":"Tue
        Apr 14 14:22:49 +0000 2015","id":587984354925740032,"id_str":"587984354925740032","text":"RT
        @iConversations: Denise Pulliam @iConversations, former @IBM [@AmericanAir],
        @Oracle @JPMorgan @TheJointStaff @USAirforce @NASA @WSJ htt\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":36230769,"id_str":"36230769","name":"black
        barbershops","screen_name":"blackbarbershop","location":"USA.Global","profile_location":null,"description":"Barber
        @iConversations for Debonair Gentlemen @SalonSaturday Savings, @iHairSalons
        @BlackHairSalons Former @IBM''er @Oracle @WSJ http:\/\/t.co\/0x7ZrpydP3","url":"http:\/\/t.co\/6cW6leroFD","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/6cW6leroFD","expanded_url":"http:\/\/iSalons.Biz","display_url":"iSalons.Biz","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/0x7ZrpydP3","expanded_url":"http:\/\/facebook.com\/iBarbershops","display_url":"facebook.com\/iBarbershops","indices":[128,150]}]}},"protected":false,"followers_count":2208,"friends_count":1344,"listed_count":55,"created_at":"Wed
        Apr 29 00:40:53 +0000 2009","favourites_count":1116,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":26122,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/19889024\/barbershops.JPG","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/19889024\/barbershops.JPG","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/477149729176838144\/e2IQ47mD_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/477149729176838144\/e2IQ47mD_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/36230769\/1402596065","profile_link_color":"270F7D","profile_sidebar_border_color":"A0A69C","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"iso_language_code":"da","result_type":"recent"},"created_at":"Tue
        Apr 14 13:22:56 +0000 2015","id":587969285127020544,"id_str":"587969285127020544","text":"Denise
        Pulliam @iConversations, former @IBM [@AmericanAir], @Oracle @JPMorgan @TheJointStaff
        @USAirforce @NASA @WSJ http:\/\/t.co\/pR8OC6o8vu","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in[...]
