---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=$IBM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="ixX5GiXw3iydCiDDfgyUU4Gnm", oauth_nonce="e006c33dc401e981ecad6a7c9fc36d86",
        oauth_signature="WCXsWA7XwKqkQwA43LFZxR7mFA8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1430102902", oauth_token="2353394900-hKlJlllezDPI2pbI0QtOnophEFcOHFlX53xhuH3",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 27 Apr 2015 02:48:20 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 3fa6cd3253b5893ae6daed61611c646f
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1430103800'
      X-Response-Time:
      - '248'
      X-Transaction:
      - e5b849c8937fd96f
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Mon
        Apr 27 01:54:19 +0000 2015","id":592507034584489984,"id_str":"592507034584489984","text":"$AMZN
        AWS a 6 billion business, with one in profits. $MSFT and $IBM have larger
        cloud businesses, but include SAAS: http:\/\/t.co\/GVUyHYWXkB","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":18183967,"id_str":"18183967","name":"F2","screen_name":"0xF2","location":"Boston,
        MA","profile_location":null,"description":"A laboratory mouse involved in
        an elaborate scheme to take over the Earth - Ceph, Ubuntu Server, OpenStack.
        Cloud and Linux, with a dash of Open Hardware.","url":"http:\/\/t.co\/GKbh1IwsI3","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/GKbh1IwsI3","expanded_url":"http:\/\/f2.svbtle.com","display_url":"f2.svbtle.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":10215,"friends_count":705,"listed_count":73,"created_at":"Wed
        Dec 17 06:22:06 +0000 2008","favourites_count":2570,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":15982,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/3622576\/amiga_boing.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/3622576\/amiga_boing.jpg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/1778684207\/image1327436867_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1778684207\/image1327436867_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/18183967\/1356154702","profile_link_color":"F0342D","profile_sidebar_border_color":"F0342D","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"663B12","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[{"text":"AMZN","indices":[0,5]},{"text":"MSFT","indices":[53,58]},{"text":"IBM","indices":[63,67]}],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/GVUyHYWXkB","expanded_url":"http:\/\/www.businessinsider.com\/aws-earns-1-billion-a-year-on-6-billion-in-profit-2015-4","display_url":"businessinsider.com\/aws-earns-1-bi\u2026","indices":[116,138]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Mon
        Apr 27 01:48:45 +0000 2015","id":592505632302895104,"id_str":"592505632302895104","text":"RT
        @MobilePotpurri: #IBM boosts #Apple''s healthcare ambitions - $AAPL #mobile
        #AppleWatch $IBM http:\/\/t.co\/ARUa9OC7JK","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_[...]
