---
http_interactions:
- request:
    method: get
    uri: http://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=ac117d389aba155a240958f2873b1f0c:18:67023197&begin_date=20150404&q=IBM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-03.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"meta":{"hits":1,"time":21,"offset":0},"docs":[{"web_url":"http:\/\/www.nytimes.com\/2015\/04\/02\/business\/klaus-tschira-business-software-trailblazer-dies-at-74.html","snippet":"He
        and three colleagues formed a company that developed an off-the-shelf software
        package to integrate all of a company&#8217;s business operations.","lead_paragraph":"He
        and three colleagues formed a company that developed an off-the-shelf software
        package to integrate all of a company&#8217;s business operations.","abstract":null,"print_page":"8","blog":[],"source":"The
        New York Times","multimedia":[{"width":190,"url":"images\/2015\/04\/02\/business\/02tschira-obit\/02tschira-obit-thumbWide.jpg","height":126,"subtype":"wide","legacy":{"wide":"images\/2015\/04\/02\/business\/02tschira-obit\/02tschira-obit-thumbWide.jpg","wideheight":"126","widewidth":"190"},"type":"image"},{"width":600,"url":"images\/2015\/04\/02\/business\/02tschira-obit\/02tschira-obit-articleLarge.jpg","height":400,"subtype":"xlarge","legacy":{"xlargewidth":"600","xlarge":"images\/2015\/04\/02\/business\/02tschira-obit\/02tschira-obit-articleLarge.jpg","xlargeheight":"400"},"type":"image"},{"width":75,"url":"images\/2015\/04\/02\/business\/02tschira-obit\/02tschira-obit-thumbStandard.jpg","height":75,"subtype":"thumbnail","legacy":{"thumbnailheight":"75","thumbnail":"images\/2015\/04\/02\/business\/02tschira-obit\/02tschira-obit-thumbStandard.jpg","thumbnailwidth":"75"},"type":"image"}],"headline":{"main":"Klaus
        Tschira, Business Software Trailblazer, Dies at 74 ","print_headline":"Klaus
        Tschira, 74, Business Software Pioneer"},"keywords":[{"rank":"1","is_major":"N","name":"organizations","value":"International
        Business Machines Corporation"},{"rank":"2","is_major":"N","name":"persons","value":"Jolly,
        David"},{"rank":"3","is_major":"N","name":"subject","value":"Software"},{"rank":"4","is_major":"N","name":"subject","value":"Deaths
        (Obituaries)"},{"rank":"5","is_major":"N","name":"subject","value":"Enterprise
        Computing"},{"rank":"6","is_major":"N","name":"subject","value":"High Net
        Worth Individuals"},{"rank":"7","is_major":"N","name":"organizations","value":"SAP
        AG"},{"rank":"8","is_major":"N","name":"glocations","value":"Germany"}],"pub_date":"2015-04-04T00:00:00Z","document_type":"article","news_desk":"Business","section_name":"Business
        Day","subsection_name":null,"byline":{"contributor":"","person":[{"organization":"","role":"reported","firstname":"David","rank":1,"lastname":"JOLLY"}],"original":"By
        DAVID JOLLY"},"type_of_material":"Obituary","_id":"551c5d8d798810581d63eb3a","word_count":"527"}]},"status":"OK","copyright":"Copyright
        (c) 2013 The New York Times Company.  All Rights Reserved."}'
  recorded_at: Sat, 04 Apr 2015 19:57:00 GMT
recorded_with: VCR 2.9.3
